doc/_build
doc/Relational_data_models/*.dia~
__pycache__/
.ipynb_checkpoints/
merge/A_merged.csv
merge/B_full.csv
merge/C_full.csv
merge/merged_master.csv
split/*.csv
diplomamunka/**/*.aux
diplomamunka/**/*.log
diplomamunka/**/*.out
diplomamunka/**/*.toc
diplomamunka/**/*.synctex.gz
diplomamunka/**/*.thm
diplomamunka/**/*.pdf
!diplomamunka/images/**/*.pdf